<span style="font-size:<%= @external.a1size*12 %>px"><%= @sketch.a1 %> </span>
<span style="font-size:<%= @external.a2size*12 %>px"><%= @sketch.a2 %> </span>
<span style="font-size:<%= @external.a3size*12 %>px"><%= @sketch.a3 %> </span><br>
<span style="font-size:<%= @external.a4size*12 %>px"><%= @sketch.a4 %> </span>
<span style="font-size:<%= @external.a5size*12 %>px"><%= @sketch.a5 %> </span>
<span style="font-size:<%= @external.a6size*12 %>px"><%= @sketch.a6 %> </span><br>
<span style="font-size:<%= @external.a7size*12 %>px"><%= @sketch.a7 %> </span>
<span style="font-size:<%= @external.a8size*12 %>px"><%= @sketch.a8 %> </span>
<span style="font-size:<%= @external.a9size*12 %>px"><%= @sketch.a9 %> </span>

<br>
<br>
<%= link_to "Edit", edit_internal_path(@external) %> | <%= link_to "Back to dashboard", root_path %>

<h1>Externals#show</h1>
<p>Find me in app/views/externals/show.html.erb</p>
