<b>Sketch Details</b>
<br>
Sketch Manager: <b><%= @sketch.manager %></b>
<br>
Sketch Recipiant: <b><%= @sketch.recipiant %></b>
<br>
Recipiant Email: <b><%= @sketch.email %></b>
<br>

<br>
<b>Your Attributes:</b>
<br>
<%= @sketch.a1 %>, <%= @sketch.a2 %>, <%= @sketch.a3 %>, <%= @sketch.a4 %>, <%= @sketch.a5 %>, <%= @sketch.a6 %>, <%= @sketch.a7 %>, <%= @sketch.a8 %>, <%= @sketch.a9 %>
<br>

<br>
<b>This sketches Users:</b>
<br>

<br>
<b>Recipiant:</b>
<br>
<%= @sketch.recipiant %>
<br>
<%= @subject.email %>
<br>
Login Code: <%= @subject.code %>
<br>

<br>
<h1>Sketches#show</h1>
<p>Find me in app/views/sketches/show.html.erb</p>
