<div id="composite_whole">
	<div id="composite_internal">
	<span style="font-size:<%= @i1mean*12 %>px"><%= @sketch.a1 %> </span>
	<span style="font-size:<%= @i2mean*12 %>px"><%= @sketch.a2 %> </span>
	<span style="font-size:<%= @i3mean*12 %>px"><%= @sketch.a3 %> </span><br>
	<span style="font-size:<%= @i4mean*12 %>px"><%= @sketch.a4 %> </span>
	<span style="font-size:<%= @i5mean*12 %>px"><%= @sketch.a5 %> </span>
	<span style="font-size:<%= @i6mean*12 %>px"><%= @sketch.a6 %> </span><br>
	<span style="font-size:<%= @i7mean*12 %>px"><%= @sketch.a7 %> </span>
	<span style="font-size:<%= @i8mean*12 %>px"><%= @sketch.a8 %> </span>
	<span style="font-size:<%= @i9mean*12 %>px"><%= @sketch.a9 %> </span>
	</div>

	<div id="composite_external">
	<span style="font-size:<%= @e1mean*12 %>px"><%= @sketch.a1 %> </span>
	<span style="font-size:<%= @e2mean*12 %>px"><%= @sketch.a2 %> </span>
	<span style="font-size:<%= @e3mean*12 %>px"><%= @sketch.a3 %> </span><br>
	<span style="font-size:<%= @e4mean*12 %>px"><%= @sketch.a4 %> </span>
	<span style="font-size:<%= @e5mean*12 %>px"><%= @sketch.a5 %> </span>
	<span style="font-size:<%= @e6mean*12 %>px"><%= @sketch.a6 %> </span><br>
	<span style="font-size:<%= @e7mean*12 %>px"><%= @sketch.a7 %> </span>
	<span style="font-size:<%= @e8mean*12 %>px"><%= @sketch.a8 %> </span>
	<span style="font-size:<%= @e9mean*12 %>px"><%= @sketch.a9 %> </span>
	</div>
</div>

<h3>TESTS TAKEN: <%= @itakers %></h3>
<h3>TESTS TAKEN: <%= @etakers %></h3>

<h1>Analyze#composite</h1>
<p>Find me in app/views/analyze/composite.html.erb</p>